@import 'reset.css';

:root {
  --main-color: rgb(200, 155, 106);
}
body {
}

h1 {
  color: var(--main-color);
}
.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('fonas.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(88, 101, 114, 0.562);
  /* background: local; */
}

nav {
    background-color: rgba(60, 64, 68, 0.562);
  color: snow;
}
.navLink {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: white;
  display: inline-block;
}
.navLink.active {
  /* font-weight: bold; */
  text-decoration: underline;
  color: rgb(198, 198, 198);
  background-color: rgb(103, 103, 103);
}
.content {
  max-width: 800px;
  width: 300px;
  margin: auto auto;
  padding: 30px 20px;
  background-color: rgba(88, 101, 114, 0.562);
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.6);
  /* position: relative;
    height: 400px; */
}
.title{
    color: white;

}
#register{
    padding-top: 15px;
}
footer {
  text-align: center;
  margin-top: auto;
  background-color: rgba(60, 64, 68, 0.562);
  padding: 10px;
  color: white;
  font-size: 12px;
}
/* .left-box{
    position: absolute;
    top: 0;
    left: 0;
} */
input
{
  display: block;  
  margin-bottom: 5px;
  padding: 4px;
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  transition: 0.2s ease;
  border-radius: 2px;
  background-color: rgba(60, 64, 68, 0);
  color: white;
}
::placeholder {
    color:  rgba(210, 215, 219, 0.76);
    opacity: 1; 
  }
button{
    width: 50%;
    border: none;
    border-radius: 2px;
    /* transition: 2s ease; */
    height: 32px;
    background-color: rgba(40, 41, 43, 0.774);
    color: white;
    letter-spacing: 2px;
    border: 1px solid #aaa;;
    margin-top: 15px;
}


/* -------------------------------------validation */
.error-msg, #err {
  color: rgb(253, 61, 28);
  margin-top: 0;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}
.invalid-input {
  border: 1px solid tomato;
  /* background-color: rgb(255, 207, 199); */
  background-color: white;
  color: black;
}

.invalid-input-content{
  background-color:  rgb(255, 207, 199, 0.774);

}